/* Arr! Style Sheet*/
body{
	background-image: url("../images/beach-land.jpg");
	background-size: cover;
	margin: 0 auto;
 	padding: 0 auto;
 	width: 960px;
}

header{
	margin-top: 15px;
	font-family: 'Pirata One', cursive;
	font-size:65px;
	color:#000000;
}

.container{
	/*background-image: url("../images/blank-pirate-map.png");
	background-repeat: no-repeat;*/
	background-color:rgba(110, 55, 21, 0.32);
	margin-top: 25px;
	padding:15px;

}

h1{
	text-align: center ;
	color:#000000;
}

h2{
	font-family: 'Pirata One', cursive;
	font-size:35px;
	color:#ffffff;
}

span{
	font-family: 'Nunito', sans-serif;
	color:#000000;
}

p{
	font-family: 'Nunito', sans-serif;
	line-height: 25px;
}

.crystals{
	margin:0 auto;
	padding:0 auto;
	width:575px;
}

.crystalImg{
	border:3px solid #000000;
}